# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = ''
primary_region = ''

[build]

[env]
  FLYDOTIO_APP_NAME = ''
  CONFIG_DIRECTORY = '/expose.sh/sshserver'
  UNIX_SOCKETS_DIRECTORY = '/expose.sh/sshserver/sockets/'
  HTTP_URL = ''
  SSH_SERVER_HOST = '0.0.0.0'
  SSH_SERVER_PORT = '2222'
  SSH_SERVER_URL = ''
  NODEJS_TOOLS_PORT = '3000'
  TIMEOUT = '120'
  NAMED_TUNNELS_RANGE = '1-3'
  RANDOM_TUNNELS_RANGE = '4-5'
  GITHUB_REPOSITORY = ''
  CHECK_IF_TUNNEL_EXISTS = 'http://localhost:3000/checkIfTunnelExists'
  BANNER_URL = 'http://localhost:3000/getBanner'
  CACHE_ADD_URL = 'http://localhost:3000/addToNginxCache'
  CACHE_REMOVE_URL = 'http://localhost:3000/removeFromNginxCache'
  GENERATE_QRCODE_URL = 'http://localhost:3000/generateQRCode'
  GET_ALL_INSTANCES_IPV6_URL = 'http://localhost:3000/getAllInstancesIPv6'
  KEY_MATCHES_ACCOUNT_URL = 'http://localhost:3000/keyMatchesAccount'
  IS_USER_STARGAZER_URL = 'http://localhost:3000/isUserStargazer'
  LOG_DEPTH = '2'
  LOG_LEVEL = 'INFO'

[http_service]
  internal_port = 80
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[services]]
  protocol = 'tcp'
  internal_port = 2222
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

  [[services.ports]]
    port = 22

  [[services.tcp_checks]]
    interval = '15s'
    timeout = '2s'
    grace_period = '1s'

[[vm]]
  size = 'shared-cpu-1x'